/*reset */

* {margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{background-color:grey;
  font-family: 'PT Mono', monospace;
  font-size: 12px;
  }
  /*se a tela tiver uma largura maior que:*/
  @media (min-width:400px){
    body{font-size:14px}
  }
  @media (min-width:600px){
    body{font-size: 20px;}
  }
  @media (min-width:800px){
    body{font-size: 24px;}
  }
  @media (min-width:1000px){
    body{font-size: 20px;
    }
    
  }
header {height: 100vh;
  display: flex;
justify-content: center;
align-items: center;
background-image: url('../Primeiros desenhos/fundo.png');
background-size: auto 100vh;}
.menu{
 background-color: whitesmoke;
 position: fixed;
 width: 100vw;
 top: 0;
}
/*font-family: 'Amatic SC', cursive;
font-family: 'Coming Soon', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'PT Mono', monospace;*/
a {color:black;
  display: block;
  padding:10px 20px;
  background-color:aquamarine;
text-decoration:none;
font-family: 'Amatic SC', cursive;}
.menu ul {display:flex;
  justify-content: space-around;
}
.menu li{list-style:none;}
a:hover{text-decoration:underline;
color:blue;}
div{
  color:whitesmoke;
  text-align: center;
  background-color: #808070;
  box-shadow: 10px 10px 10px #303030;
  padding: 40px 40px;
}
.subtitulo{
font-size:2em;
font-family: 'Coming Soon', cursive;}
.nome{text-decoration: underline;
font-size:4em;
font-family: 'Times New Roman', Times, serif;}

